@import "tailwindcss";


html,
body {
  height: 100%;
}


:root {
  color: white;
}


body {
  background-image: radial-gradient(circle at 50% 0%, rgb(31, 55, 86), rgb(20, 21, 57));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.g1 {
  background-image: radial-gradient(circle at 50% 0%, rgb(31, 55, 86), rgb(20, 21, 57));
}

#portal {
  position: absolute;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.1);
}

#portal:not(:has(div)) {
  display: none;
}


.result-animation {
  animation: result-animation 1s forwards ease-in;
}


.button-before::before,
.button-after::after {
  --line-width: 40px;
  height: 1px;
  width: var(--line-width);
  display: block;
  content: '';
  position: absolute;
  transition: right 0.25s ease-in-out, left 0.25s ease-in-out;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  opacity: 0;
}

.button-before::before {
  top: -1px;
  right: 10px;
}

.button-after::after {
  bottom: -1px;
  left: 10px;
}

.button-before:hover::before {
  right: calc(100% - var(--line-width) - 10px);
  opacity: 1;
}

.button-after:hover::after {
  left: calc(100% - var(--line-width) - 10px);
  opacity: 1;
}


@keyframes result-animation {
  0% {
    scale: 0.4;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
